<!DOCTYPE HTML>
<html>

<head>
	<title>Terminos y condiciones</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--<link rel="stylesheet" href="assets/css/main.css" />-->
	<style type="text/css">
		@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");

		/* Basic */
		@-ms-viewport {
			width: device-width;
		}

		body {
			-ms-overflow-style: scrollbar;
		}

		@media screen and (max-width: 480px) {

			html,
			body {
				min-width: 320px;
			}
		}

		html {
			box-sizing: border-box;
		}

		*,
		*:before,
		*:after {
			box-sizing: inherit;
		}

		body {
			background: #ffffff;
		}

		body.is-preload *,
		body.is-preload *:before,
		body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

		html,
		body,
		div,
		span,
		applet,
		object,
		iframe,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		blockquote,
		pre,
		a,
		abbr,
		acronym,
		address,
		big,
		cite,
		code,
		del,
		dfn,
		em,
		img,
		ins,
		kbd,
		q,
		s,
		samp,
		small,
		strike,
		strong,
		sub,
		sup,
		tt,
		var,
		b,
		u,
		i,
		center,
		dl,
		dt,
		dd,
		ol,
		ul,
		li,
		fieldset,
		form,
		label,
		legend,
		table,
		caption,
		tbody,
		tfoot,
		thead,
		tr,
		th,
		td,
		article,
		aside,
		canvas,
		details,
		embed,
		figure,
		figcaption,
		footer,
		header,
		hgroup,
		menu,
		nav,
		output,
		ruby,
		section,
		summary,
		time,
		mark,
		audio,
		video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}

		article,
		aside,
		details,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		menu,
		nav,
		section {
			display: block;
		}

		body {
			line-height: 1;
		}

		ol,
		ul {
			list-style: none;
		}

		blockquote,
		q {
			quotes: none;
		}

		blockquote:before,
		blockquote:after,
		q:before,
		q:after {
			content: '';
			content: none;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

		body {
			-webkit-text-size-adjust: none;
		}

		mark {
			background-color: transparent;
			color: inherit;
		}

		input::-moz-focus-inner {
			border: 0;
			padding: 0;
		}

		input,
		select,
		textarea {
			-moz-appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			appearance: none;
		}

		/* Typography */
		html {
			font-size: 13pt;
		}

		@media screen and (max-width: 1680px) {
			html {
				font-size: 11pt;
			}
		}

		@media screen and (max-width: 980px) {
			html {
				font-size: 12pt;
			}
		}

		@media screen and (max-width: 480px) {
			html {
				font-size: 11pt;
			}
		}

		body {
			background-color: #ffffff;
			color: #444444;
		}

		body,
		input,
		select,
		textarea {
			font-family: "Raleway", Arial, Helvetica, sans-serif;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.65;
		}

		a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			text-decoration: underline;
		}

		a:hover {
			text-decoration: none;
		}

		strong,
		b {
			font-weight: 600;
		}

		em,
		i {
			font-style: italic;
		}

		p {
			margin: 0 0 2rem 0;
		}

		header.special {
			text-align: center;
			margin-bottom: 4rem;
		}

		header.special p {
			max-width: 75%;
			margin-left: auto;
			margin-right: auto;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 300;
			line-height: 1.5;
			text-transform: uppercase;
			margin: 0 0 1.5rem 0;
		}

		h1 a,
		h2 a,
		h3 a,
		h4 a,
		h5 a,
		h6 a {
			color: inherit;
			text-decoration: none;
		}

		h1 {
			font-size: 3rem;
			line-height: 1.2;
		}

		h2 {
			font-size: 2.25rem;
			line-height: 1.3;
		}

		h3 {
			font-size: 1.25rem;
		}

		h4 {
			font-size: 1rem;
		}

		h5 {
			font-size: 0.9rem;
		}

		h6 {
			font-size: 0.7rem;
		}

		@media screen and (max-width: 736px) {
			h1 {
				font-size: 2.75rem;
				line-height: 1.3;
			}

			h2 {
				font-size: 1.75rem;
				line-height: 1.5;
			}

			h3 {
				font-size: 1.25rem;
			}
		}

		sub {
			font-size: 0.8rem;
			position: relative;
			top: 0.5rem;
		}

		sup {
			font-size: 0.8rem;
			position: relative;
			top: -0.5rem;
		}

		blockquote {
			border-left: solid 0.5rem;
			font-style: italic;
			margin: 0 0 2rem 0;
			padding: 1rem 0 1rem 2rem;
		}

		code {
			border-radius: 4px;
			border: solid 1px;
			font-family: "Courier New", monospace;
			font-size: 0.9rem;
			margin: 0 0.25rem;
			padding: 0.25rem 0.65rem;
		}

		pre {
			-webkit-overflow-scrolling: touch;
			font-family: "Courier New", monospace;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
		}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1rem 1.5rem;
			overflow-x: auto;
		}

		hr {
			border: 0;
			border-bottom: solid 1px;
			margin: 2rem 0;
		}

		hr.major {
			margin: 4rem 0;
		}

		input,
		select,
		textarea {
			color: #555555;
		}

		a {
			color: #2650c4;
		}

		strong,
		b {
			color: #555555;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #555555;
		}

		blockquote {
			border-left-color: rgba(0, 0, 0, 0.25);
		}

		code {
			background: rgba(0, 0, 0, 0.075);
			border-color: rgba(0, 0, 0, 0.25);
		}

		hr {
			border-bottom-color: rgba(0, 0, 0, 0.25);
		}

		/* Inner */
		.inner {
			margin: 0 auto;
			width: 75rem;
			max-width: calc(100% - 6rem);
		}

		@media screen and (max-width: 480px) {
			.inner {
				max-width: calc(100% - 3rem);
			}
		}

		::-webkit-input-placeholder {
			color: #bbbbbb !important;
		}

		:-moz-placeholder {
			color: #bbbbbb !important;
		}

		::-moz-placeholder {
			color: #bbbbbb !important;
		}

		:-ms-input-placeholder {
			color: #bbbbbb !important;
		}

		/* List */
		ol {
			list-style: decimal;
			margin: 0 0 2rem 0;
			padding-left: 1.25rem;
		}

		ol li {
			padding-left: 0.25rem;
		}

		ul {
			list-style: disc;
			margin: 0 0 2rem 0;
			padding-left: 1rem;
		}

		ul li {
			padding-left: 0.325rem;
		}

		ul.plain {
			list-style: none;
			padding-left: 0;
		}

		ul.plain li {
			margin-bottom: 1rem;
		}

		ul.plain li .icon {
			border-radius: 4px;
			color: #ffffff;
			display: inline-block;
			margin-right: 1rem;
			text-align: center;
			width: 2rem;
			height: 2rem;
			line-height: 2rem;
			background: rgba(0, 0, 0, 0.5);
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

		ul.alt li {
			border-top: solid 1px;
			padding: 0.75rem 0;
		}

		ul.alt li:first-child {
			border-top: 0;
			padding-top: 0;
		}

		ul.alt li:last-child {
			padding-bottom: 0;
		}

		dl {
			margin: 0 0 2rem 0;
		}

		dl dt {
			display: block;
			font-weight: 600;
			margin: 0 0 1rem 0;
		}

		dl dd {
			margin-left: 1.5rem;
		}

		ul.alt li {
			border-top-color: rgba(0, 0, 0, 0.25);
		}

		@media screen and (max-width: 1280px) {
			.wrapper {
				padding: 4rem 0 2rem 0;
			}
		}

		@media screen and (max-width: 736px) {
			.wrapper {
				padding: 3rem 0 1rem 0;
			}
		}

		@media screen and (max-width: 480px) {
			.wrapper {
				padding: 2rem 0 0.1rem 0;
			}
		}

		/* Banner */
		#banner {
			-ms-flex-align: center;
			-ms-flex-pack: center;
			background-color: #111111;
			color: rgba(255, 255, 255, 0.5);
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			background-image: url("../../images/banner.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			border-top: 0;
			display: -ms-flexbox;
			height: 35rem !important;
			min-height: 35rem;
			overflow: hidden;
			position: relative;
			text-align: center;
			width: 100%;
		}

		#banner input,
		#banner select,
		#banner textarea {
			color: #ffffff;
		}

		#banner a {
			color: #2650c4;
		}

		#banner strong,
		#banner b {
			color: #ffffff;
		}

		#banner h1,
		#banner h2,
		#banner h3,
		#banner h4,
		#banner h5,
		#banner h6 {
			color: #ffffff;
		}

		#banner blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#banner code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner button,
		#banner .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #ffffff;
			color: #ffffff !important;
		}

		#banner input[type="submit"]:hover,
		#banner input[type="reset"]:hover,
		#banner input[type="button"]:hover,
		#banner button:hover,
		#banner .button:hover {
			box-shadow: inset 0 0 0 1px #2650c4;
			color: #2650c4 !important;
		}

		#banner input[type="submit"]:hover:active,
		#banner input[type="reset"]:hover:active,
		#banner input[type="button"]:hover:active,
		#banner button:hover:active,
		#banner .button:hover:active {
			background-color: rgba(206, 27, 40, 0.25);
		}

		#banner input[type="submit"].primary,
		#banner input[type="reset"].primary,
		#banner input[type="button"].primary,
		#banner button.primary,
		#banner .button.primary {
			box-shadow: none;
			background-color: #2650c4;
			color: #ffffff !important;
		}

		#banner input[type="submit"].primary:hover,
		#banner input[type="reset"].primary:hover,
		#banner input[type="button"].primary:hover,
		#banner button.primary:hover,
		#banner .button.primary:hover {
			background-color: #e2212f;
			box-shadow: none;
		}

		#banner input[type="submit"].primary:hover:active,
		#banner input[type="reset"].primary:hover:active,
		#banner input[type="button"].primary:hover:active,
		#banner button.primary:hover:active,
		#banner .button.primary:hover:active {
			background-color: #b71824;
		}

		#banner label {
			color: #ffffff;
		}

		#banner input[type="text"],
		#banner input[type="password"],
		#banner input[type="email"],
		#banner input[type="tel"],
		#banner input[type="search"],
		#banner input[type="url"],
		#banner select,
		#banner textarea {
			background-color: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner input[type="text"]:focus,
		#banner input[type="password"]:focus,
		#banner input[type="email"]:focus,
		#banner input[type="tel"]:focus,
		#banner input[type="search"]:focus,
		#banner input[type="url"]:focus,
		#banner select:focus,
		#banner textarea:focus {
			border-color: #2650c4;
			box-shadow: 0 0 0 1px #2650c4;
		}

		#banner select {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
		}

		#banner select option {
			color: rgba(255, 255, 255, 0.5);
			background-color: #111111;
		}

		#banner input[type="checkbox"]+label,
		#banner input[type="radio"]+label {
			color: rgba(255, 255, 255, 0.5);
		}

		#banner input[type="checkbox"]+label:before,
		#banner input[type="radio"]+label:before {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner input[type="checkbox"]:checked+label:before,
		#banner input[type="radio"]:checked+label:before {
			background-color: #2650c4;
			border-color: #2650c4;
			color: #ffffff;
		}

		#banner input[type="checkbox"]:focus+label:before,
		#banner input[type="radio"]:focus+label:before {
			border-color: #2650c4;
			box-shadow: 0 0 0 1px #2650c4;
		}

		#banner ::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#banner :-moz-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#banner ::-moz-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#banner :-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#banner ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#banner table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner table tbody tr:nth-child(2n + 1) {
			background-color: rgba(255, 255, 255, 0.075);
		}

		#banner table th {
			color: #ffffff;
		}

		#banner table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#banner table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner .highlights .content {
			background: #111111;
			box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025);
		}

		#banner .testimonials .content {
			background: #111111;
			box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025);
		}

		#banner .testimonials .content .credit strong {
			color: #2650c4;
		}

		#banner>.inner {
			-moz-transform: scale(1.0);
			-webkit-transform: scale(1.0);
			-ms-transform: scale(1.0);
			transform: scale(1.0);
			-moz-transition: opacity 1s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1s ease, -ms-transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
			opacity: 1;
			position: relative;
			z-index: 3;
		}

		#banner>.inner> :last-child {
			margin-bottom: 0;
		}

		#banner h1 {
			font-size: 4rem;
			margin-bottom: 1rem;
		}

		#banner p {
			font-size: 1.5rem;
		}

		#banner a {
			color: rgba(255, 255, 255, 0.5);
			text-decoration: none;
		}

		#banner a:hover {
			color: #ffffff;
		}

		#banner video {
			-moz-transform: translateX(50%) translateY(50%);
			-webkit-transform: translateX(50%) translateY(50%);
			-ms-transform: translateX(50%) translateY(50%);
			transform: translateX(50%) translateY(50%);
			bottom: 50%;
			height: auto;
			min-height: 100%;
			min-width: 100%;
			overflow: hidden;
			position: absolute;
			right: 50%;
			width: auto;
		}

		#banner:before {
			-moz-transition: opacity 3s ease;
			-webkit-transition: opacity 3s ease;
			-ms-transition: opacity 3s ease;
			transition: opacity 3s ease;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;
			background: #111111;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.45;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		#banner:after {
			background: linear-gradient(135deg, #2650c4 0%, #111111 74%);
			content: ' ';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.6;
			position: absolute;
			top: 0;
			webkit-linear-gradientidth: 100%;
			width: 100%;
			z-index: 1;
		}

		#banner.small {
			height: 30vh !important;
			min-height: 30vh;
		}

		@media screen and (max-width: 1280px) {
			#banner video {
				display: none;
			}
		}

		@media screen and (max-width: 736px) {
			#banner {
				height: auto !important;
				min-height: 0;
				padding: 4rem 2rem 4rem 2rem;
			}

			#banner .inner {
				width: 100%;
			}

			#banner h1 {
				font-size: 1.75rem;
				margin-bottom: 0.5rem;
				padding-bottom: 0;
			}

			#banner p {
				font-size: 1.25rem;
			}

			#banner br {
				display: none;
			}

			#banner .button {
				width: 100%;
			}
		}

		@media screen and (max-width: 480px) {
			#banner p {
				font-size: 1rem;
			}
		}

		body.is-preload #banner .inner {
			-moz-transform: scale(0.99);
			-webkit-transform: scale(0.99);
			-ms-transform: scale(0.99);
			transform: scale(0.99);
			opacity: 0;
		}

		body.is-preload #banner:before {
			opacity: 1;
		}

		/* Header */
		body {
			padding-top: 3.25rem;
		}

		#header {
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			-ms-justify-content: space-between;
			justify-content: space-between;
			background: #111111;
			color: rgba(255, 255, 255, 0.5);
			cursor: default;
			height: 3.25rem;
			left: 0;
			line-height: 3.25rem;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 10001;
		}

		#header>.logo {
			color: #ffffff;
			font-size: 1rem;
			font-weight: 600;
			height: inherit;
			line-height: inherit;
			padding: 0 1.25rem;
			text-decoration: none;
		}

		#header>nav>a {
			color: inherit;
			display: inline-block;
			padding: 0 0.75rem;
			text-decoration: none;
		}

		#header>nav>a:hover {
			color: #ffffff;
		}

		#header>nav>a[href="#menu"] {
			text-decoration: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		#header>nav>a[href="#menu"]:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		#header>nav>a[href="#menu"]:before {
			content: '\f0c9';
			margin: 0 0.5rem 0 0;
		}

		#header>nav>a+a[href="#menu"]:last-child {
			border-left: solid 1px rgba(255, 255, 255, 0.25);
			margin-left: 0.5rem;
			padding-left: 1.25rem;
		}

		#header>nav>a:last-child {
			padding-right: 1.25rem;
		}

		@media screen and (max-width: 736px) {
			#header>nav>a {
				padding: 0 0.5rem;
			}

			#header>nav>a+a[href="#menu"]:last-child {
				margin-left: 0.25rem;
				padding-left: 1rem;
			}

			#header>nav>a:last-child {
				padding-right: 1rem;
			}
		}

		@media screen and (max-width: 980px) {
			body {
				padding-top: 44px;
			}

			#header {
				height: 44px;
				line-height: 44px;
			}
		}

		@media screen and (max-width: 480px) {
			#header {
				min-width: 320px;
			}
		}

		/* Heading */
		#heading {
			-ms-flex-align: center;
			-ms-flex-pack: center;
			background-color: #2650c4;
			color: rgba(255, 255, 255, 0.5);
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			/*background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url("../../images/banner.jpg");*/
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			border-top: 0;
			display: -ms-flexbox;
			height: 15rem !important;
			min-height: 15rem;
			overflow: hidden;
			position: relative;
			text-align: center;
			width: 100%;
		}

		#heading input,
		#heading select,
		#heading textarea {
			color: #ffffff;
		}

		#heading a {
			color: #2650c4;
		}

		#heading strong,
		#heading b {
			color: #ffffff;
		}

		#heading h1,
		#heading h2,
		#heading h3,
		#heading h4,
		#heading h5,
		#heading h6 {
			color: #ffffff;
		}

		#heading blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#heading code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#heading hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#heading input[type="submit"],
		#heading input[type="reset"],
		#heading input[type="button"],
		#heading button,
		#heading .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #ffffff;
			color: #ffffff !important;
		}

		#heading input[type="submit"]:hover,
		#heading input[type="reset"]:hover,
		#heading input[type="button"]:hover,
		#heading button:hover,
		#heading .button:hover {
			box-shadow: inset 0 0 0 1px #2650c4;
			color: #2650c4 !important;
		}

		#heading input[type="submit"]:hover:active,
		#heading input[type="reset"]:hover:active,
		#heading input[type="button"]:hover:active,
		#heading button:hover:active,
		#heading .button:hover:active {
			background-color: rgba(206, 27, 40, 0.25);
		}

		#heading input[type="submit"].primary,
		#heading input[type="reset"].primary,
		#heading input[type="button"].primary,
		#heading button.primary,
		#heading .button.primary {
			box-shadow: none;
			background-color: #2650c4;
			color: #ffffff !important;
		}

		#heading input[type="submit"].primary:hover,
		#heading input[type="reset"].primary:hover,
		#heading input[type="button"].primary:hover,
		#heading button.primary:hover,
		#heading .button.primary:hover {
			background-color: #e2212f;
			box-shadow: none;
		}

		#heading input[type="submit"].primary:hover:active,
		#heading input[type="reset"].primary:hover:active,
		#heading input[type="button"].primary:hover:active,
		#heading button.primary:hover:active,
		#heading .button.primary:hover:active {
			background-color: #b71824;
		}

		#heading label {
			color: #ffffff;
		}

		#heading input[type="text"],
		#heading input[type="password"],
		#heading input[type="email"],
		#heading input[type="tel"],
		#heading input[type="search"],
		#heading input[type="url"],
		#heading select,
		#heading textarea {
			background-color: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#heading input[type="text"]:focus,
		#heading input[type="password"]:focus,
		#heading input[type="email"]:focus,
		#heading input[type="tel"]:focus,
		#heading input[type="search"]:focus,
		#heading input[type="url"]:focus,
		#heading select:focus,
		#heading textarea:focus {
			border-color: #2650c4;
			box-shadow: 0 0 0 1px #2650c4;
		}

		#heading select {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
		}

		#heading select option {
			color: rgba(255, 255, 255, 0.5);
			background-color: #111111;
		}

		#heading input[type="checkbox"]+label,
		#heading input[type="radio"]+label {
			color: rgba(255, 255, 255, 0.5);
		}

		#heading input[type="checkbox"]+label:before,
		#heading input[type="radio"]+label:before {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#heading input[type="checkbox"]:checked+label:before,
		#heading input[type="radio"]:checked+label:before {
			background-color: #2650c4;
			border-color: #2650c4;
			color: #ffffff;
		}

		#heading input[type="checkbox"]:focus+label:before,
		#heading input[type="radio"]:focus+label:before {
			border-color: #2650c4;
			box-shadow: 0 0 0 1px #2650c4;
		}

		#heading ::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#heading :-moz-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#heading ::-moz-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#heading :-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.4) !important;
		}

		#heading ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#heading table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#heading table tbody tr:nth-child(2n + 1) {
			background-color: rgba(255, 255, 255, 0.075);
		}

		#heading table th {
			color: #ffffff;
		}

		#heading table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#heading table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#heading table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#heading .highlights .content {
			background: #111111;
			box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025);
		}

		#heading .testimonials .content {
			background: #111111;
			box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025);
		}

		#heading .testimonials .content .credit strong {
			color: #2650c4;
		}

		#heading:before {
			background: linear-gradient(135deg, #2650c4 0%, #111111 74%);
			content: ' ';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.6;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		#heading h1 {
			margin-bottom: 0;
			position: relative;
			z-index: 2;
		}

		@media screen and (max-width: 980px) {
			#heading {
				padding: 2rem;
			}
		}

		/* Main */
		#main .content {
			background: #ffffff;
			border-radius: 4px;
			box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
			margin-bottom: 2rem;
			padding: 3rem;
		}

		@media screen and (max-width: 980px) {
			#main .content {
				padding: 2rem;
			}
		}

		@media screen and (max-width: 480px) {
			#main .content {
				padding: 1.5rem;
			}
		}
	</style>
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<!--<a class="logo">Exitum</a>-->
		<nav>
			<img class="icon-table"
				src="https://techie-exitum.s3-us-west-1.amazonaws.com/imagenes/email-images/logo.png" width="100"
				height="50" border="0" alt="" style="padding-left: 10%; padding-top: 5%;">
		</nav>
	</header>

	<!-- Heading -->
	<div id="heading">
		<h1>Terminos y condiciones</h1>
	</div>

	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content">
				<header>
					<h2>POLÍTICA DE PRIVACIDAD</h2>
				</header>
				<p>La presente Política de Privacidad establece los términos en que EXITUM SAC usa
					y protege la información que es proporcionada por sus usuarios al momento de
					utilizar su web www.exitumpro.com.Las empresas relacionadas a EXITUM SAC
					están comprometidas con la seguridad de los datos de sus usuarios por principio y
					en virtud al cumplimiento de la Ley de Protección de Datos Personales. Cuando se
					solicita llenar los campos de información personal con la cual usted puede ser
					identificado; lo hacemos asegurando que sólo se empleará de acuerdo con los
					términos de este documento. Sin embargo, esta Política de Privacidad puede
					cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos
					revisar continuamente esta página para asegurarse que está de acuerdo con dichos
					cambios. </p>
				<hr />
				<h3>Información que es recogida</h3>
				<p>Nuestra web www.exitumpro.com podrá recoger información personal, por
					ejemplo: Nombre completo, información de contacto, dirección de correo electrónico,
					teléfono celular. Así mismo cuando sea necesario podrá ser requerida información
					adicional de su historia personal, tipo estudios, habilidades, experiencia previa,
					proyecto a presentar; el cual Ud. autoriza desde ya a ser guardado en nuestras
					bases de datos y a ser expuesto para los fines de difusión correspondiente que tiene
					como objetivo www.exitumpro.com y para lo cual Ud. da consentimiento informado
					al registrarse y operar en el sitio. Otros tipos de información específica, podrán ser
					requeridas para procesar algún pedido o realizar una entrega o facturación.
				</p>
				<h3>Uso de la información recogida</h3>
				<p>Nuestra web www.exitumpro.com ha sido creada con la única finalidad de brindar
					altos estándares de calidad, y para ello emplea la información que recibe con el fin
					de proporcionar el mejor servicio posible, particularmente para mantener un registro
					de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y
					servicios. Es posible que sean enviados correos electrónicos periódicamente a
					través de nuestra web www.exitumpro.com con ofertas especiales, nuevos
					productos y otra información publicitaria que consideremos relevante para usted o
					que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la
					dirección que usted proporcione y podrán ser cancelados en cualquier momento.
					EXITUM SAC está altamente comprometido para cumplir con el compromiso de
					mantener su información segura. Usamos los sistemas más avanzados y los
					actualizamos constantemente para asegurarnos que no exista ningún acceso no
					autorizado.</p>
				<h3>Enlaces a Terceros</h3>
				<p>Nuestra web www.exitumpro.com puede contener enlaces a otros sitios que
					pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone
					nuestra web www.exitumpro.com., ya no tenemos control sobre el sitio al que es
					redirigido y por lo tanto no garantizamos, ni representamos en forma expresa o
					implícita el contenido de estos enlaces. Los enlaces no consitituyen o implican la
					aprobación, autorización, patrocinio o afiliación de Exitum SAC con respecto a
					terceros, sus páginas de internet ni el contenido de las mismas, por lo que no somos
					responsables de los términos o privacidad ni de la protección de sus datos en esos
					otros sitios terceros.
					Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es
					recomendable que los consulte para confirmar que usted está de acuerdo con estas.
				</p>
				<h3>Control de su información personal</h3>
				<p>En cualquier momento usted puede restringir la recopilación o el uso de la
					información personal que es proporcionada a la web de EXITUM SAC cada vez que
					se le solicite rellenar un formulario.
					Esta compañía no venderá, cederá ni distribuirá la información personal que es
					recopilada sin su consentimiento, salvo que sea requerido por un juez con una orden
					judicial.
					EXITUM SAC se reserva el derecho de cambiar los términos de la presente Política
					de Privacidad en cualquier momento.
				</p>
				<h3>Uso de datos Personales</h3>
				<p>De conformidad con lo establecido en la Ley N° 29733 - Ley de Protección de Datos
					Personales y su Reglamento, quien suscribe el presente documento, queda
					informado y da su consentimiento libre, previo, expreso, inequívoco e informado,
					para el tratamiento y transferencia, nacional e internacional de sus datos personales
					al banco de datos de titularidad de EXITUM SAC que estará ubicado en sus oficinas
					a nivel nacional que, conjuntamente con cualquier otro dato que pudiera facilitarse
					a lo largo de la relación jurídica y aquellos obtenidos en fuentes accesibles al público,
					se tratarán con las finalidades de brindar un servicio de promociones, analizar las
					circunstancias al celebrar contratos con EXITUM SAC, gestionar la contratación,
					evaluar la calidad del servicio y para la realización de estudios estadísticos.
					Asimismo, EXITUM SAC utilizará los datos personales con fines comerciales, y
					publicitarios a fin de remitir información de los productos y servicios que EXITUM
					SAC considere de su interés. Los datos proporcionados serán incorporados, con las
					mismas finalidades, a las bases de datos de EXITUM SAC y/u otras empresas
					subsidiarias, filiales, asociadas, afiliadas o miembros del Grupo Económico al cual
					pertenece y/o terceros con los que éstas mantengan una relación contractual. Los
					datos suministrados son esenciales para las finalidades indicadas. Las bases de
					datos donde ellos se almacenan cuentan con estrictas medidas de seguridad. En
					caso se decida no proporcionarlos, no será posible la prestación de servicios por
					parte de EXITUM SAC. Conforme a Ley, el titular de la información está facultado a
					ejercitar los derechos de información, acceso, rectificación, supresión o cancelación
					y oposición que se detallan en la Ley N° 29733, Ley de Protección de Datos
					Personales y su Reglamento, mediante comunicación dirigida a EXITUM SAC.
				</p>
				<h3>Del servicio web</h3>
				<p>EXITUM SAC pone a disposición su staff de colabadores para la atención de los
					cuestionamientos y problemas alojadas en nuestro web www.exitumpro.com a
					excepción de aquellos por el cual mediante normativa interna se decida no publicar
					ni autorizar reservas de promociones por este medio. Queda establecido que es de
					su total y libre elección el profesional del colaborador que usted elija.
				</p>
			</div>
		</div>
	</section>
</body>

</html>