<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="date=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="x-apple-disable-message-reformatting" />
	<link
		href="https://fonts.googleapis.com/css?family=Kreon:300,700|Playfair+Display:350,350i,700,700i|Raleway:350,350i,700,700i|Roboto:350,350i,700,700i"
		rel="stylesheet" />
	<style type="text/css" media="screen">

		body {
			padding: 0 !important;
			margin: 0 !important;
			display: block !important;
			min-width: 100% !important;
			width: 100% !important;
			color: #ffffff;
			font-family:'Kreon', 'Times New Roman', Georgia, serif;
			/* -webkit-text-size-adjust:none; */
		}
		.card {
			width: 70%;
			height: 100%;
			margin: 0 auto;
		}
		.card-header { 
			width: 100%; height: 280px;
			border-top-right-radius: 20px;
            border-top-left-radius: 20px;
			background-image: url('https://techie-exitum.s3-us-west-1.amazonaws.com/imagenes/email-images/fondo-espacial.png') ;
		}
		.card-body {
			width: 100%; height: 450px;
			border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
			background-color: #1546a9;
			display: flex;;
		}
		.logo-exitum { max-width: 10%; }
		.personaje { position: relative; top: -170px; }
		.personaje-verde { width: 75%; }
		p { margin: 0px; color: #ffffff; }
		.m-0 { margin: 0px; }
		.p-0 { padding: 0px; }
		.p-10 { padding: 10px; }
		.p-20 { padding: 20px; }
		.p-30 { padding: 30px; }
		.p-40 { padding: 40px; }
		.pl-0 { padding-left: 0px; }
		.pl-10 { padding-left: 10px; }
		.pl-20 { padding-left: 20px; }
		.pl-30 { padding-left: 30px; }
		.pl-40 { padding-left: 40px; }
		.pr-0 { padding-right: 0px; }
		.pr10 { padding-right: 10px; }
		.pr-20 { padding-right: 20px; }
		.pr-30 { padding-right: 30px; }
		.pr-40 { padding-right: 40px; }
		.pb-0 { padding-bottom: 0px; }
		.pb-10 { padding-bottom: 10px; }
		.pb-20 { padding-bottom: 20px; }
		.pb-30 { padding-bottom: 30px; }
		.pb-40 { padding-bottom: 40px; }
		.pt-0 { padding-top: 0px; }
		.pt-10 { padding-top: 10px; }
		.pt-20 { padding-top: 20px; }
		.pt-30 { padding-top: 30px; }
		.pt-40 { padding-top: 40px; }

		.pp-0 { padding: 0%; }
		.pp-5 { padding: 5%; }
		.pp-10 { padding: 10%; }
		.pp-20 { padding: 20%; }
		.pp-30 { padding: 30%; }
		.pp-40 { padding: 40%; }
		.plp-0 { padding-left: 0%; }
		.plp-10 { padding-left: 10%; }
		.plp-20 { padding-left: 20%; }
		.plp-30 { padding-left: 30%; }
		.plp-40 { padding-left: 40%; }
		.prp1 { padding-right: 0%; }
		.prp10 { padding-right: 10%; }
		.prp-20 { padding-right: 20%; }
		.prp-30 { padding-right: 30%; }
		.prp-40 { padding-right: 40%; }
		.pbp-0 { padding-bottom: 0%; }
		.pbp-10 { padding-bottom: 10%; }
		.pbp-20 { padding-bottom: 20%; }
		.pbp-30 { padding-bottom: 30%; }
		.pbp-40 { padding-bottom: 40%; }
		.ptp-0 { padding-top: 0%; }
		.ptp-10 { padding-top: 10%; }
		.ptp-20 { padding-top: 20%; }
		.ptp-30 { padding-top: 30%; }
		.ptp-40 { padding-top: 40%; }
		.col-100 { width: 100%; }
        .col-40 { width: 40%; }
        .col-50 { width: 50%; }
        .col-60 { width: 60%; }
		.col-30, .col-70 { max-height: 100%; display: inline-block; }
		.col-70 { width: 70%; }
		.col-30 { width: 30%; text-align: center; }
		.container-burbuja {
			width: 100%;
			height: 150px;
		}
		.burbuja-top {
			width: 80%;
			height: 130px;
			background-color: red;
			border-radius: 20px;
			text-align: center;
			margin: 0 auto;
		}
		.burbuja-bottom {
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid #f00;
			margin: 0 auto;
			margin: 0 auto;
		}
		.fz-20 { font-size: 20px; }
		.fw { font-weight: bold; }

		@media only screen and (max-device-width: 480px),
		only screen and (max-width: 480px) {
			.logo-exitum { max-width: 30% !important; }
			.nave-exitum { max-width: 60%; margin: 0 auto; }
			.card { width: 100%; }
			.col-sm-100 { width: 100% !important; padding: 20px 0px; }
			.card-body { flex-direction: column-reverse; }
			.personaje { top: 0; text-align: center; }
			.container-nave { padding: 0px; text-align: center; }
			.personaje-verde { width: 30%; }
			.card-header { border-top-right-radius: 10px; border-top-left-radius: 10px; }
           	.card-body { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;  height: auto; }
			.comentario > p { padding: 20px; }
		}
	</style>
</head>

<body>
	<div class="card">
		<div class="card-header">
			<div class="pt-20 pb-0 pl-20 pr-20">
				<img class="logo-exitum" src="https://techie-exitum.s3-us-west-1.amazonaws.com/imagenes/email-images/logo.png" alt="logo-exitum.png" />
			</div>
			<div class="plp-20 container-nave">
				<img class="nave-exitum" style="max-width: 20; transform: rotate(45deg);" src="https://techie-exitum.s3-us-west-1.amazonaws.com/imagenes/email-images/nave.png" alt="nave-exitum.png" />
			</div>
		</div>
		<div class="card-body">
			<div class="comentario col-60 p-40 col-sm-100 ">
				<p>Comentario</p>
			</div>
			<div class="col-40 col-sm-100 ">
				<div class="personaje">
					<div class="container-burbuja pb-10">
						<div class="burbuja-top">
							<p class="pt-40 fz-20 fw">¡Felicitaciones!</p>
							<p class="pt-10">Tu reto ha sido validado satisfactoriamente.</p>
						</div>
						<div class="burbuja-bottom"></div>
					</div>
					<img class="personaje-verde" src="https://techie-exitum.s3-us-west-1.amazonaws.com/imagenes/email-images/verde.png" alt="personaje-verde.png" />
				</div>
			</div>
		</div>
	</div>
</body>

</html>